/*--------------------------------------------------------------------*/
/*react CSS*/
.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/*.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}*/
.App-link {
  color: #61dafb;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------------*/
/*CUSTOM CSS*/
.logo { width: 5vmin; }
.bg-trans { background-color: transparent; }
.section-1 {
  height: 100vh;
  position: relative;
  background-image: url('./img/p1.png');
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.section-2 {
  /*transform: translateY(-15%);*/
}
@keyframes animatedRtL {
  from {
    background-position: 200% 100%;
    opacity: 0;
  }
  to {
    background-position: 100% 100%;
    opacity: 1;
  }
}
@keyframes animatedLtR{
  from {
    background-position: -100% 00%;
    opacity: 0;
  }
  to {
    background-position: 0% 0%;
    opacity: 1;
  }
}

/*--------------------------------------------------------------------*/
/*material-ui CSS*/
.MuiAppBar-colorPrimary {
  background-color: transparent !important;
}
.MuiBox-root-219 {
  background-color: transparent !important;
}
.MuiPaper-root {
  background-color: transparent !important;
  color: #000000 !important;
}

/*--------------------------------------------------------------------*/
/* menu item hove effect*/
.container--menuitem {
  /*width: 100%;*/
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.link {
  outline: none;
  text-decoration: none;
  position: relative;
  font-size: 5em;
  line-height: 1;
  color: #000000;
  display: inline-block;
}
.link--menuitem {
  font-style: italic;
  font-weight: 700;
  font-size: 2em;
  padding: 0 10px 20px;
  -webkit-transition: color 0.5s;
  transition: 0.5s;
  z-index: 0;
}
.link--menuitem:hover {
  color: #ffffff;
}
.link--menuitem:hover::before {
  -webkit-transform: rotate3d(0,0,1,135deg) scale3d(1,1,1);
  transform: rotate3d(0,0,1,135deg) scale3d(1,1,1);
}
.link--menuitem:hover span {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
.link--menuitem::before {
  content: '';
  position: absolute;
  height: 1px;
  width: 120%;
  top: 70%;
  margin-top: -18px;
  left: -10%;
  z-index: -1;
  background: #000000;
  -webkit-transform: rotate3d(0,0,1,45deg) scale3d(0,1,1);
  transform: rotate3d(0,0,1,45deg) scale3d(0,1,1);
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}
.link--menuitem span {
  font-size: 50%;
  font-weight: 400;
  position: absolute;
  right: 15px;
  color: #E53369;
  bottom: 0;
  opacity: 0;
  -webkit-transform: translate3d(-10px, -10px, 0);
  transform: translate3d(-10px, -10px, 0);
  -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s;
}

/*--------------------------------------------------------------------*/
/* strikethrough animation effect*/
.letter { 
  font-size: 10em; 
  position: absolute;
  left: calc(30px + 5vh);;
}

@keyframes strikeA {
  0%   { width : 0; }
  100% { width: 100%; }
}
@keyframes strikeE {
  0%   { width : 0; }
  100% { width: 125%; }
}
.strike {
  position: relative;
  /*margin: 10px;*/
}
.strike::after {
  content: ' ';
  position: absolute;
  height: 2px;
  width: 100%;
  background: rgba(0, 0, 0, 0.87);
  animation-duration: 3s;
  animation-timing-function: easeInOutQuad;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; 
}
.strike-A::after {
  animation-name: strikeA;
  top: 63%;
  left: 20%; 
}
.strike-E::after {
  animation-name: strikeE;
  top: 54%; 
  left: -120%;
}
/*--------------------------------------------------------------------*/
/* menu item hove effect*/