/*--------------------------------------------------------------------*/
/*react CSS*/
.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/*.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}*/
.App-link {
  color: #61dafb;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------------*/
/*CUSTOM CSS*/
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
  font-family: 'Raleway', sans-serif;
}
.logo { width: 15vw; }

.bg-trans { background-color: transparent; }

.section-head {
  height: 100vh;
  position: relative;
  /*background-image: url('./img/main.gif');
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;*/
}
.section-1-intro {
  /*position: relative;*/
  overflow: hidden;
}
.section-2-head,
.section-3-head {
  height: 100vh;
  position: relative;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
}
.section-2-head { background-image: url('./img/p2.jpg'); overflow: hidden; }
.section-3-head { background-image: url('./img/p3.jpg'); }
.section-2-body { margin-bottom: 150px; }
.section-3-body {

}
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 50px 30px;
}
/*.card-container > div {
  flex: 1 0 50%
}*/

h2 p { margin:0px; }

.trip-title {
  text-align: left;
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 0px;
}
.p-abs {
  position:  absolute;
  top: 0;
  left: 0;
}

.phrase p {
  margin: 0;
  text-align: right;
}

@keyframes animatedRtL {
  from {
    background-position: 200% 100%;
    opacity: 0;
  }
  to {
    background-position: 100% 100%;
    opacity: 1;
  }
}
@keyframes animatedLtR{
  from {
    background-position: -100% 00%;
    opacity: 0;
  }
  to {
    background-position: 0% 0%;
    opacity: 1;
  }
}

/*--------------------------------------------------------------------*/
/*material-ui CSS*/
.MuiAppBar-colorPrimary {
  background-color: transparent !important;
}
.MuiBox-root-219 {
  background-color: transparent !important;
}
.MuiPaper-root {
  background-color: transparent !important;
  color: #000000 !important;
}
.MuiTypography-h5,
.MuiTypography-body2,
.MuiButton-root {
  font-family: 'Raleway', sans-serif !important;
}

/*--------------------------------------------------------------------*/
/* menu item hover effect*/
.container--menuitem {
  /*width: 100%;*/
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.link {
  outline: none;
  text-decoration: none;
  position: relative;
  font-size: 5em;
  line-height: 1;
  color: #000000;
  display: inline-block;
}
.link--menuitem {
  font-style: italic;
  font-weight: 700;
  font-size: 1em;
  padding: 0 10px 20px;
  -webkit-transition: color 0.5s;
  transition: 0.5s;
  z-index: 0;
}
.link--menuitem::after {
  content: '';
  width: 0px;
  height: 2px;
  display: block;
  background: #ffffff;
  transition: 700ms;
}
.link--menuitem:hover::after {
  width: 100%;
}
.link--menuitem:hover {
  color: #ffffff;
}
.link--menuitem:hover::before {
  /*-webkit-transform: rotate3d(0,0,1,135deg) scale3d(1,1,1);
  transform: rotate3d(0,0,1,135deg) scale3d(1,1,1);*/
}
.link--menuitem:hover span {
  /*opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);*/
}
.link--menuitem::before {
  content: '';
  position: absolute;
  height: 1px;
  width: 120%;
  top: 70%;
  margin-top: -18px;
  left: -10%;
  z-index: -1;
  background: #000000;
  -webkit-transform: rotate3d(0,0,1,45deg) scale3d(0,1,1);
  transform: rotate3d(0,0,1,45deg) scale3d(0,1,1);
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}
.link--menuitem span {
  font-size: 50%;
  font-weight: 400;
  position: absolute;
  right: 15px;
  color: #E53369;
  bottom: 0;
  opacity: 0;
  -webkit-transform: translate3d(-10px, -10px, 0);
  transform: translate3d(-10px, -10px, 0);
  -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s;
}

/*--------------------------------------------------------------------*/
/* strikethrough animation effect*/
.letter { 
  font-size: 10em; 
  position: absolute;
  left: calc(30px + 5vh);;
}

@keyframes strikeA {
  0%   { width : 0; }
  100% { width: 150%; }
}
@keyframes strikeE {
  0%   { width : 0; }
  100% { width: 126%; }
}
@keyframes strikeC {
  0%   { width : 100%; }
  100% { width: 700%; }
}
@keyframes strikeA3 {
  0%   { width : 0%; }
  100% { width: 600%; }
}
@keyframes strikeM {
  0%   { width : 0%; }
  100% { width: 333%; }
}
@keyframes strikeMore {
  0%   { width : 0%; }
  100% { width: 250%; }
}
@keyframes strikeBook {
  0%   { width : 0%; }
  100% { width: 160%; }
}
.strike {
  position: relative;
  /*margin: 10px;*/
}
.strike::after {
  content: ' ';
  position: absolute;
  width: 0%;
  background: rgba(0, 0, 0, 1);
  animation-duration: 3s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;  
}
.strike-A::after {
  animation-name: strikeA;
  height: 10px;
  top: 56%;
  left: 0%; 
}
.strike-E::after {
  animation-name: strikeE;
  height: 10px;
  top: 46.5%; 
  left: -120%;
}
.strike-C::after {
  animation-name: strikeC;
  height: 10px;
  top: 50%; 
  left: -150%;
}
.strike-A3::after {
  animation-name: 'strikeA3';
  animation-delay: 1s;
  height: 9px;
  width:0;
  top: 57%;
  left: 29%; 
}
.strike-m::after {
  animation-name: 'strikeM';
  animation-delay: 1s;
  width:0;
  height:1px;
  top: 27.5%;
  left: 98%; 
}

.after-strike {
  animation-name: textAppear;
  animation-duration: 1s;
  animation-delay: 3s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  opacity: 0;
  position: absolute;
  right: -450%;
  top: 40%;
}
@keyframes textAppear {
  0%   { opacity : 0; }
  100% { opacity: 1; }
}
.strike-btr::after {
  animation-name: btr;
  height: 2px;
  top: 105%; 
  left: 0%;
}
@keyframes btr {
  0%   { width : 0%; }
  100% { width: 78vw; }
}
.strike-btl::after {
  animation-name: btl;
  height: 2px;
  top: 105%; 
  left: -170%;
}
@keyframes btl {
  0%   { width : 0%; }
  100% { width: 240%; }
}
.btn-strike {
  background-color: #000000 !important;
  color: #ffffff !important;
  text-transform: lowercase !important;
  right: -345%;
  top: -23%;
}
.btn-strike:hover {
  background-color: #1bdcd1 !important;
  color: #000000 !important;
}

.strike-Con::after {
  height: 5px;
  animation-name: strikeCon;
  top: 48%; 
  left: -400%;  
}
@keyframes strikeCon {
  0%   { width : 0%; }
  100% { width: 120vw; }
}
/*--------------------------------------------------------------------*/
/* media queries*/

@media (max-width:600px) {
  .section-head {
    height: 100%;
  }
  .card-container {
    margin: 50px 5px;
  }
  .strike::after {
    /*height: 1px; */
  } 
  .strike-Con::after {
    height: 3px !important;
    left: 0% !important;
  }
  @keyframes strikeCon {
    0%   { width : 0%; }
    100% { width: 100vw; }
  }
  @keyframes strikeC {
    0%   { width : 100%; }
    100% { width: 450%; }
  }
  .strike-A::after {
    height: 5px !important;
    top: 56%;
    left: 21%; 
  }
  @keyframes strikeA {
    0%   { width : 0; }
    100% { width: 120%; }
  }
  .strike-E::after {
    height: 5px;
    top: 46.9%; 
    left: -50%;
  }
  @keyframes strikeE {
    0%   { width : 0; }
    100% { width: 200%; }
  }
  .strike-C::after {
    height: 4px;
    top: 50%; 
    left: -150%;
  }
  .strike-A3::after {
    height: 4px;
    top: 57%;
    left: 15%; 
  }
  @keyframes strikeA3 {
    0%   { width : 0%; }
    100% { width: 300%; }
  }
  .section-2-head,
  .section-3-head {
    height: 250px;
    background-size: contain !important;
    -webkit-background-size: contain !important;
    -moz-background-size: contain !important;
    -o-background-size: contain !important;
    background-attachment: scroll;
  }
  .after-strike {
    right: -200%;
    top: 30%;
  }
  .btn-strike {
    background-color: #000000 !important;
    color: #ffffff !important;
    text-transform: lowercase !important;
    left: 150%;
    top: -20% !important;
  }
  .strike-m::after {
    animation-name: 'strikeM';
    animation-delay: 1s;
    width:0;
    height:1px;
    top: 28%;
    left: 99%; 
  }
  @keyframes strikeM {
    0%   { width : 0%; }
    100% { width: 133%; }
  }
}

@media (max-width:960px) {
  .section-head {
    height: 100%;
  }

  .strike-E::after {
    height: 5px;
    top: 47.5%; 
    left: -50%;
  }
  @keyframes strikeE {
    0%   { width : 0; }
    100% { width: 300%; }
  }
  .strike-C::after {
    height: 4px;
    top: 50%; 
    left: -150%;
  }
  .after-strike {   
    top: 30%;
  }
}